<key>UILaunchStoryboardName</key>
<string>LaunchScreen</string>

<key>CFBundleIcons</key>
<dict>
  <key>CFBundlePrimaryIcon</key>
  <dict>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIconFiles</key>
    <array/>
  </dict>
</dict>

<key>NSPhotoLibraryUsageDescription</key>
<string>Нужен для выбора аватара профиля.</string>
